body{
    background-color: #94ffc4;
    margin: 0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #07735d;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1;
    gap:1rem;
}
footer{
    background-color: #07735d;
    display: flex;
    bottom: 0;
    width: 100%;
    z-index: 1;
    gap:1rem;
    font-size: .75rem;
}
h2{
    margin-bottom: .1rem;
}
h3{
    margin-top: -.2rem;
    margin-bottom: .1rem;
}
body>section{
   padding:1rem;
}
.gallery img{
    height: 10rem;
}
@media (min-width:845px){
    body{
        display:flex;
        flex-wrap: wrap;
    }
    .gallery{
        width:55%;
    }
    .about{
        width:35%;
    }
    footer{
        position: fixed;
        bottom:0;
    }
}
